.App {
  position: relative;
  text-align: center;
  color: white;
  background-color: #000;
  min-height: 100vh;
  margin: 0;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
